body{
    background: #E9ECF8;
}

.logo{
    margin: 40px auto;
}

.contenido{       
    margin: 0 auto;   
      
}

.contenido div{
    //border: 2px solid #000000; 
    display: inline-block;
}

.principal{
    width:60%;
    padding: 0 3em 0 3em;
    
}

textarea {
    resize: none;
    width: 99%;
    background: #E9ECF8;
    border: none;
    color: #0A3871;
    text-align: center;
    font-size: 25px;
  }

  .minuscula{   
    color: #343A40;
    font-size: 15px;
    margin: 10px;   
  }
  .botones{
    margin: 5px;      
    padding: 18px;
    width: 48%;    
    border-radius: 15px;  
  }
  #btn-encriptar{
    border: none;       
  }

  #btn-dencriptar{
    border: solid 2px #0A3871;
    color: #0A3871;   
    background: #D8DFE8;
  }

button{
    background: #0A3871;
    color: #ffffff;
  }
  

  .lateral{
    width:25%;
    background: #ffffff;
    position: absolute;
    height: 440px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 3px;
  }

  .lateral h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
 

footer{
    border: 2px solid #000000; 
    padding: 1em 0;
    margin-top: 1em;
}


       
